/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
padding-bottom: 40px;
color: #5a5a5a;
font-family : "Josefin Sans",Verdana, Helvetica, sans-serif !important;
font-size:18px;
}

.jumbotron {
text-align: center;
height:600px;
-o-background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
background-position: center;
}

.jumbotron h1 {
font-family:lobster;
text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
text-transform: uppercase;
font-size: 80px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
margin-top:310px;
color:yellow;
}

.jumbotron p {
text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
color:white;
font-size: 24px;
font-weight: 300;
line-height: 1.25;
margin-bottom: 30px;
}


.text-shadow    {   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);}
.uppercase      {   text-transform: uppercase;}

.info {
    color:ivory;
padding-top:20px;
padding-bottom:20px;
}

.info .span6 h2 {
}

.marketing .span4 {
    text-align: center;
    margin-top:40px;
    margin-bottom:40px;
}

.marketing h2 {
    font-weight: normal;
}

.marketing h3 {
    padding-top:20px;
    text-transform: uppercase;
    color:brown;
    font-size:26px;
}

.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
body {
    padding-right: 0px;
    padding-left: 0px;
    }
    /* the inbetween nabbar*/
.navbar-fixed-top {
    margin-bottom: 0px;
    }
.navbar-fixed-top {
    position: fixed;
    }
}


@media (max-width: 767px) {
    .marketing .span4 + .span4 {
        margin-top: 40px;
}
.info .span6 + .span6 {
    margin-top: 40px;
}

.jumbotron h1 { font-size: 40px; }
.marketing h3 {
    text-align:center;
    font-size:24px;
}
}
